flask
flask-cors
gunicorn
pypdfium2
matplotlib
pillow
numpy
PyPDF2
spacy
torch
transformers
scikit-learn
tensorflow
keras
pytesseract
easyocr
langchain
langchain-community
unstructured[pdf]
google-cloud-storage
